body {
  background-color: #607989;
}

nav > .container, nav > .container-fluid {
  position: relative;
  z-index: 100;
  background-color: white;
  border: 1px solid white;
}

nav .nav-link {
  background-color: transparent;
}

main{
  display: flex;
  padding: 0 0 0 0;
  flex: none;
  margin: 0;
}

.teste{
  /* height: 100vh; */
}

.container{
  padding: 0;
}

.tela-conteudo{
  background-color: #ebf1f2;
  border:1px solid #bfbfbf;

  height: calc(664px - 79.08px);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border-radius: 0;

  /* width: 100vw;
  height: 100vh;
  transform: translate(-15px, -109px); */
}

.menu-topo{
  width: 100%;
  height: 2.3rem;
  padding: 0 1.5rem;
  border-bottom: 3px solid #607989;

  display: flex;
  font-weight: 600;
  align-items: center;
  color: #013475;

  text-transform: uppercase;
}

span{
  margin-right: 10px;
  letter-spacing: 3px;
  font-size: 2rem;
  color: #8ac926;
  margin-bottom: 15px;
}

.list-ul{
width: 100%;
}

.ul-menu{
  width: 100%;
  margin-top: 15px;
  display: flex;
  list-style: none;
  gap: 8px;
  margin-right: 5px;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

.ul-menu .li-menu:nth-child(1){
  background-color: #00afaf;
}
.ul-menu .li-menu:nth-child(2){
  background-color: #ed3b48;
}
.ul-menu .li-menu:nth-child(3){
  background-color: #7155D8;
}
.ul-menu .li-menu:nth-child(4){
  background-color: #F2AD17;
}
.ul-menu .li-menu:nth-child(5){
  background-color: #607989;
}
.ul-menu .li-menu:nth-child(6){
  background-color: #AF1C27;
}

.ul-menu .li-menu:hover{
  filter: brightness(1.1);
  cursor: pointer;
}

.ul-menu .li-menu{
  color: aliceblue;
  border-radius: 50%;
  font-size: .81rem;
  width: 20px;
  height: 20px;
  padding: 0;
  text-align: center;
}

.tela-conteudo button {
  margin: 0px 0px;
}

.tela-conteudo h1{
  font-weight: bolder;
  font-size: 2.4rem;
  text-align: center;
  margin: 20px 0 0 0;
  color: #013475;
}

.tela-conteudo h2{
  font-weight: 100;
  text-transform: uppercase;
  font-size: 2rem;
  color: #8bca29;
}

.tela-conteudo img{
  margin: 20px 0;
}

.tela-conteudo button{
  width: 100px;
  height: 50px;
  border-radius: .5rem;
  border: 1px solid transparent;
  background-color: #8ac926;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4rem;
  margin: 10px 0 40px 0;
}

.slide{
  text-align: left;
  padding: 0px;

  background-color: white;
  border-radius: 0;
}

.slide p{
  padding: 0px 40px 0px 40px;
  position: relative;
}

.slide .image{
  width: 100%;
  height: 295px;
  margin: 0;
  background-color: #ebf1f2;
  border-radius: 25px 25px 0 0;
  position: relative;
  box-shadow: 0px -3px 9px -6px black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.slide .image #imagem-tela{
  width: 100%;
  height: 150px;
  display: flex;
  margin: 25px auto 0;
  padding: 10px;
}

.tela-paragrafos{
  height: 285px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tela-paragrafos .lista-ul-4{
  list-style:none;
  width: 500px;
  height: 200px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tela-paragrafos .lista-ul-4 .lista-li-4{
  width: 50%;
  text-align: left;
  font-size: .9rem;
  font-weight: bolder;
  padding-left: 30px;
  /* border: 1px solid red; */
  /* margin: 5px 10px; */
  /* font-size: 1rem; */
}

.tela-paragrafos .lista-ul-4 .lista-li-4:nth-child(odd){
  width: 170px;
  bordeR:1px solid white;
}

.tela-paragrafos .lista-ul-4 .lista-li-4:nth-child(even){
  margin-left: 30px;
  border:1px solid white;
}


.tela-paragrafos ul li::before{
  /* font-size: 1.8rem; */
  padding: 5px 13px;
  font-size: 1rem;
  color: azure;
  position: absolute;
  border-radius: 50%;
  margin-left:-35px ;
  justify-items: center;
}

.tela-paragrafos .lista-ul-4 .lista-li-4:nth-child(1)::before{
  content: " 1 ";
  background-color: #00afaf;
  margin: 6px 0 0 -50px ;
}


.tela-paragrafos .lista-ul-4 .lista-li-4:nth-child(2)::before{
  content: "2";
  background-color: #ed3b48;
  margin: 6px 0 0 -50px ;
}


.tela-paragrafos .lista-ul-4 .lista-li-4:nth-child(3)::before{
  content: "3";
  background-color: #7155D8;
  margin: 6px 0 0 -50px ;
}


.tela-paragrafos .lista-ul-4 .lista-li-4:nth-child(4)::before{
  content: "4";
  background-color: #F2AD17;
  margin: 6px 0 0 -50px ;
}


.tela-paragrafos .lista-ul-4 .lista-li-4:nth-child(5)::before{
  content: "5";
  background-color: #607989;
  margin: 6px 0 0 -50px ;
}


.tela-paragrafos .lista-ul-4 .lista-li-4:nth-child(6)::before{
  content: "6";
  background-color: #AF1C27;
  margin: 6px 0 0 -50px ;
}

.rodape{
  font-size: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 15px 10px 0;
  background-color: #e0e0e0c0;
  color: black;
  padding: 5px;
}
/*
#teste p:nth-child(1){
  color: #013475;
  font-weight: 900;
  font-size: 1.2rem;
}*/

.botoes{
  display: flex;
  justify-content: space-around;
  width: 100px;
  margin: 20px auto;
}

#voltar,
#avancar{
  background-color: #8ac926;
  border: none;
  border-radius: 50%;
  width: 39px;
  height: 39px;
}

#voltar img,
#avancar img{
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#avancar img{
  transform: rotate(180deg);
}

.hidden-div{
  display: none;
}

.imagem-tutorial-18{
  width: 600px;
  height: auto;
}

.imagem-tutorial-19{
  position: absolute;
  height: 300px;
  margin-left: -50px;
  margin-top: -200px;
}

.titulo-19{
  position: absolute;
  z-index: 10;
}

.paragrafo-19{
  position: absolute;
  z-index: 10;
  margin-left: 200px;
}

.titulo-inicial{
  text-align: center;
  color: #013475;
  font-weight: 900;
  font-size: 2rem;
}

.paragrafo-0, .paragrafo-1, .paragrafo-2, .paragrafo-3{
  text-align: center;
  font-size: 16px;
}

p{
  font-size: 16px;
  text-align: justify;
  padding: 0;
}

.lista-ul-5 .lista-li-5{
  font-size: 16px;
  text-align: left;
  padding: 0;
}

.titulo-princiapl{
  font-size: 16px;
  font-weight: bold;
}