body {
  background-color: #607989;
}

nav > .container, nav > .container-fluid {
  position: relative;
  z-index: 100;
  background-color: white;
  border: 1px solid white;
}

nav .nav-link {
  background-color: transparent;
}

main{
  display: flex;
  padding: 0 0 0 0;
  flex: none;
  margin: 0;
}

.container{
  padding: 0;
}

.tela-conteudo{
  background-color: #ebf1f2;
  border:1px solid #bfbfbf;

  height: calc(664px - 79.08px);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border-radius: 0;

  /* width: 100vw;
  height: 100vh;
  transform: translate(-15px, -109px); */
}

.menu-topo{
  width: 100%;
  height: 2.3rem;
  padding: 0 1.5rem;
  border-bottom: 3px solid #607989;

  display: flex;
  font-weight: 600;
  align-items: center;
  color: #013475;

  text-transform: uppercase;
}

span{
  margin-right: 10px;
  letter-spacing: 3px;
  font-size: 2rem;
  color: #8ac926;
  margin-bottom: 15px;
}

.list-ul{
width: 100%;
}

.ul-menu{
  width: 100%;
  margin-top: 15px;
  display: flex;
  list-style: none;
  gap: 8px;
  margin-right: 5px;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

.ul-menu .li-menu:nth-child(1) button{
  background-color: #00afaf;
}
.ul-menu .li-menu:nth-child(2) button{
  background-color: #ed3b48;
}
.ul-menu .li-menu:nth-child(3) button{
  background-color: #7155D8;
}
.ul-menu .li-menu:nth-child(4) button{
  background-color: #F2AD17;
}
.ul-menu .li-menu:nth-child(5) button{
  background-color: #607989;
}
.ul-menu .li-menu:nth-child(6) button{
  background-color: #AF1C27;
}


.ul-menu .li-menu:hover{
  filter: brightness(1.1);
  cursor: pointer;
}

.li-menu button{
  color: aliceblue;
  border-radius: 50%;
  font-size: .81rem;
  width: 20px;
  height: 20px;
  padding: 0;
  text-align: center;
  border: none;
}

.tela-conteudo button {
  margin: 0px 0px;
}

.tela-conteudo h1{
  font-weight: bolder;
  font-size: 2.4rem;
  text-align: center;
  margin: 20px 0 0 0;
  color: #013475;
}

.tela-conteudo h2{
  font-weight: 100;
  text-transform: uppercase;
  font-size: 2rem;
  color: #8bca29;
}

.tela-conteudo img{
  margin: 20px 0;
}

.tela-conteudo button{
  width: 100px;
  height: 50px;
  border-radius: .5rem;
  border: 1px solid transparent;
  background-color: #8ac926;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4rem;
  margin: 10px 0 40px 0;
}

.slide{
  text-align: left;
  padding: 0px;

  background-color: white;
  border-radius: 0;
}

.slide p{
  padding: 0px 20px 0px 20px;
  /*position: relative;*/
}

.slide .image{
  width: 100%;
  height: 295px;
  margin: 0;
  background-color: #ebf1f2;
  border-radius: 25px 25px 0 0;
  position: relative;
  box-shadow: 0px -3px 9px -6px black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.slide .image #imagem-tela{
  width: 100%;
  height: 150px;
  display: flex;
  margin: 25px auto 0;
  padding: 10px;
}

.tela-paragrafos{
  height: 285px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tela-paragrafos .lista-ul-4{
  list-style:none;
  width: 500px;
  height: 200px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 170px;
  margin-left: 70px;
}

.tela-paragrafos .lista-ul-4 .lista-li-4{
  width: 50%;
  text-align: left;
  font-size: .9rem;
  font-weight: bolder;
  padding-left: 30px;
  /* border: 1px solid red; */
  /* margin: 5px 10px; */
  /* font-size: 1rem; */
}

.tela-paragrafos .lista-ul-4 .lista-li-4:nth-child(odd){
  width: 170px;
  border:1px solid white;
}

.tela-paragrafos .lista-ul-4 .lista-li-4:nth-child(even){
  margin-left: 30px;
  border:1px solid white;
}


.tela-paragrafos ul li::before{
  /* font-size: 1.8rem; */
  padding: 5px 13px;
  font-size: 1rem;
  color: azure;
  position: absolute;
  border-radius: 50%;
  margin-left:-35px ;
  justify-items: center;
}

.tela-paragrafos .lista-ul-4 .lista-li-4:nth-child(1)::before{
  content: " 1 ";
  background-color: #00afaf;
  margin: 6px 0 0 -50px ;
}


.tela-paragrafos .lista-ul-4 .lista-li-4:nth-child(2)::before{
  content: "2";
  background-color: #ed3b48;
  margin: 6px 0 0 -50px ;
}


.tela-paragrafos .lista-ul-4 .lista-li-4:nth-child(3)::before{
  content: "3";
  background-color: #7155D8;
  margin: 6px 0 0 -50px ;
}


.tela-paragrafos .lista-ul-4 .lista-li-4:nth-child(4)::before{
  content: "4";
  background-color: #F2AD17;
  margin: 6px 0 0 -50px ;
}


.tela-paragrafos .lista-ul-4 .lista-li-4:nth-child(5)::before{
  content: "5";
  background-color: #607989;
  margin: 6px 0 0 -50px ;
}


.tela-paragrafos .lista-ul-4 .lista-li-4:nth-child(6)::before{
  content: "6";
  background-color: #AF1C27;
  margin: 6px 0 0 -50px ;
}

.rodape{
  font-size: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 15px 10px 0;
  background-color: #e0e0e0c0;
  color: black;
  padding: 5px;
}
/*
#teste p:nth-child(1){
  color: #013475;
  font-weight: 900;
  font-size: 1.2rem;
}*/

#teste{
  width: 100%;
  height: 100%;
}

.botoes{
  display: flex;
  justify-content: space-around;
  width: 100px;
  margin: 20px auto;
}

#voltar,
#avancar{
  background-color: #8ac926;
  border: none;
  border-radius: 50%;
  width: 39px;
  height: 39px;
}

#voltar img,
#avancar img{
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#avancar img{
  transform: rotate(180deg);
}

.hidden-div{
  display: none;
}

.imagem-tutorial-18{
  width: 600px;
  height: auto;
  margin-top: 30px;
}

.titulo-inicial{
  text-align: center;
  color: #013475;
  font-weight: 900;
  font-size: 2rem;
  margin-top: 200px;
}

.paragrafo-0, .paragrafo-1, .paragrafo-2, .paragrafo-3, .paragrafo-60{
  position: relative;
  text-align: center;
  font-size: 16px;
}

p{
  font-size: 16px;
  text-align: justify;
  padding: 0;
}

.lista-ul-5 .lista-li-5{
  font-size: 16px;
  text-align: left;
  padding: 0;
}

.titulo-princiapl{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 80px;
  margin-left: 60px;
}

.numeração-1{
  color: aliceblue;
  border-radius: 50%;
  border: 10px solid #00afaf;
  padding: 0;
  text-align: center;
  position: absolute;
  background-color: #00afaf;
  font-weight: bold;
  font-size: 20px;
  box-sizing: content-box;
  width: 30px;
  margin-left: 15px;
  margin-top: 70px;
}

.numeração-2{
  color: aliceblue;
  border-radius: 50%;
  border: 10px solid #ed3b48;
  padding: 0;
  text-align: center;
  position: absolute;
  background-color: #ed3b48;
  font-weight: bold;
  font-size: 20px;
  box-sizing: content-box;
  width: 30px;
  margin-left: 15px;
  margin-top: 70px;
}

.numeração-3{
  color: aliceblue;
  border-radius: 50%;
  border: 10px solid #7155D8;
  padding: 0;
  text-align: center;
  position: absolute;
  background-color: #7155D8;
  font-weight: bold;
  font-size: 20px;
  box-sizing: content-box;
  width: 30px;
  margin-left: 15px;
  margin-top: 70px;
}

.numeração-4{
  color: aliceblue;
  border-radius: 50%;
  border: 10px solid #F2AD17;
  padding: 0;
  text-align: center;
  position: absolute;
  background-color: #F2AD17;
  font-weight: bold;
  font-size: 20px;
  box-sizing: content-box;
  width: 30px;
  margin-left: 15px;
  margin-top: 70px;
}

.numeração-5{
  color: aliceblue;
  border-radius: 50%;
  border: 10px solid #607989;
  padding: 0;
  text-align: center;
  position: absolute;
  background-color: #607989;
  font-weight: bold;
  font-size: 20px;
  box-sizing: content-box;
  width: 30px;
  margin-left: 15px;
  margin-top: 70px;
}

.numeração-6{
  color: aliceblue;
  border-radius: 50%;
  border: 10px solid #AF1C27;
  padding: 0;
  text-align: center;
  position: absolute;
  background-color: #AF1C27;
  font-weight: bold;
  font-size: 20px;
  box-sizing: content-box;
  width: 30px;
  margin-left: 15px;
  margin-top: 70px;
}

.imagem-tutorial-19{
  position: relative;
  height: 300px;
  margin-left: 20px;
  margin-top: 10px;
}

.paragrafo-19{
  position: absolute;
  z-index: 10;
  margin-left: 320px;
  margin-top: 180px;
}

.destaque-19{
  position: absolute;
  border: 2px solid #D13239;
  width: 240px;
  height: 20px;
  z-index: 10;
  margin-left: 40px;
  margin-top: 185px;
}

.destaque-19:before{
  content: "";
  position: absolute;
  background-color: #D13239;
  width: 50px;
  height: 2px;
  margin-left: 238px;
  margin-top: 5px;

}

.imagem-tutorial-20{
  position: relative;
  height: 300px;
  margin-left: 20px;
  margin-top: 10px;
}

.paragrafo-20{
  position: absolute;
  z-index: 10;
  margin-left: 320px;
  margin-top: 155px;
}

.destaque-20{
  position: absolute;
  border: 2px solid #D13239;
  width: 150px;
  height: 30px;
  z-index: 10;
  margin-left: 90px;
  margin-top: 155px;
}

.destaque-20:before{
  content: "";
  position: absolute;
  background-color: #D13239;
  width: 90px;
  height: 2px;
  margin-left: 147px;
  margin-top: 10px;
}

.imagem-tutorial-21{
  position: relative;
  height: 300px;
  margin-left: 20px;
  margin-top: 10px;
}

.paragrafo-21{
  position: absolute;
  z-index: 10;
  margin-left: 270px;
  margin-top: 320px;
}

.destaque-21{
  position: absolute;
  border: 2px solid #D13239;
  width: 150px;
  height: 25px;
  z-index: 10;
  margin-left: 295px;
  margin-top: 150px;
}

.destaque-21:before{
  content: "";
  position: absolute;
  border: 2px solid #D13239;
  border-left: transparent;
  width: 90px;
  height: 175px;
  margin-left: 147px;
  margin-top: 10px;
}

.imagem-tutorial-22{
  position: relative;
  height: 300px;
  margin-left: 20px;
  margin-top: 10px;
}

.paragrafo-22{
  position: absolute;
  z-index: 10;
  margin-left: 250px;
  margin-top: 310px;
}

.destaque-22{
  position: absolute;
  border: 2px solid #D13239;
  width: 370px;
  height: 60px;
  z-index: 10;
  margin-left: 60px;
  margin-top: 200px;
}

.destaque-22:before{
  content: "";
  position: absolute;
  border: 2px solid #D13239;
  border-left: transparent;
  width: 90px;
  height: 100px;
  margin-left: 367px;
  margin-top: 20px;
}

.imagem-tutorial-23{
  position: relative;
  height: 300px;
  margin-left: 25px;
  margin-top: 10px;
}

.paragrafo-23{
  position: absolute;
  z-index: 10;
  margin-left: 335px;
  margin-top: 315px;
}

.destaque-23{
  position: absolute;
  border: 2px solid #D13239;
  width: 150px;
  height: 60px;
  z-index: 10;
  margin-left: 420px;
  margin-top: 200px;
}

.destaque-23:before{
  content: "";
  position: absolute;
  border: 2px solid #D13239;
  border-left: transparent;
  border-top: transparent;
  width: 20px;
  height: 70px;
  margin-left: 60px;
  margin-top: 57px;
}

.bloco-branco-23{
  content: "";
  position: absolute;
  background-color: white;
  height: 30px;
  width: 100px;
  margin-left: 480px;
  z-index: 10;
}

.imagem-tutorial-24{
  position: absolute;
  height: 300px;
  margin-left: 20px;
  margin-top: 10px;
}

.paragrafo-24{
  position: absolute;
  z-index: 10;
  margin-left: 170px;
  margin-top: 310px;
}

.destaque-24{
  position: absolute;
  border: 2px solid #D13239;
  width: 150px;
  height: 110px;
  z-index: 10;
  margin-left: 440px;
  margin-top: 40px;
}

.destaque-24:before{
  content: "";
  position: absolute;
  border: 2px solid #D13239;
  border-left: transparent;
  border-top: transparent;
  width: 20px;
  height: 175px;
  margin-left: 50px;
  margin-top: 107px;
}

.bloco-branco-24{
  content: "";
  position: absolute;
  background-color: #e7f0fe;
  height: 8px;
  width: 100px;
  margin-left: 452px;
  margin-top: 110px;
  z-index: 10;
}

.imagem-tutorial-25{
  position: absolute;
  height: 200px;
  margin-left: 20px;
  margin-top: 10px;
}

.paragrafo-25{
  position: absolute;
  z-index: 10;
  margin-left: 210px;
  margin-top: 225px;
}

.destaque-25{
  position: absolute;
  border: 2px solid #D13239;
  width: 160px;
  height: 150px;
  z-index: 10;
  margin-left: 450px;
  margin-top: 40px;
}

.destaque-25:before{
  content: "";
  position: absolute;
  border: 2px solid #D13239;
  border-left: transparent;
  border-top: transparent;
  width: 20px;
  height: 50px;
  margin-left: 65px;
  margin-top: 147px;
}

.destaque-2-25{
  content: "";
  position: absolute;
  border: 1px solid black;
  width: 135px;
  height: 15px;
  z-index: 11;
  margin-left: 460px;
  margin-top: 78px;
  border-radius: 5%;
}

.bloco-branco-25{
  content: "";
  position: absolute;
  background-color: white;
  height: 8px;
  width: 100px;
  margin-left: 460px;
  margin-top: 80px;
  z-index: 10;
}

.paragrafo-26{
  position: relative;
}

.paragrafo-pag27{
  position: relative;
  margin-top:270px;
  margin-left: 250px;
}

.imagem-tutorial-26{
  position: absolute;
  margin-top: -340px;
  margin-left: 20px;
  height: 230px;
}

.destaque-26{
  position: absolute;
  border: 2px solid #D13239;
  width: 280px;
  height: 25px;
  z-index: 10;
  margin-left: 320px;
  margin-top: -240px;
}

.destaque-26:before{
  content: "";
  position: absolute;
  border: 2px solid #D13239;
  border-left: transparent;
  border-top: transparent;
  width: 40px;
  height: 125px;
  margin-left: 180px;
  margin-top: 23px;
}

.bloco-branco-26{
  content: "";
  position: absolute;
  background-color: white;
  height: 30px;
  width: 100px;
  margin-left: 485px;
  margin-top: -350px;
  z-index: 10;
}

.imagem-tutorial-27{
  width: 600px;
  height: auto;
  margin-top: 30px;
}

.imagem-tutorial-28{
  width: auto;
  height: 300px;
  margin-left: 20px;
}

.destaque-28{
  position: absolute;
  border: 2px solid #D13239;
  width: 100px;
  height: 35px;
  z-index: 10;
  margin-left: 325px;
  margin-top: 210px;
}

.imagem-tutorial-29{
  width: auto;
  height: 300px;
  margin-left: 20px;
}

.imagem-tutorial-30{
  width: auto;
  height: 300px;
  margin-left: 20px;
}

.imagem-tutorial-31{
  width: auto;
  height: 300px;
  margin-left: 20px;
}

.imagem-tutorial-32{
  width: auto;
  height: 300px;
  margin-left: 20px;
}

.imagem-tutorial-33{
  width: auto;
  height: 300px;
  margin-left: 150px;
}

.imagem-tutorial-34{
  width: auto;
  height: 260px;
  margin-left: 20px;
}

.imagem-tutorial-36{
  width: auto;
  height: 300px;
  margin-left: 20px;
}

.imagem-tutorial-37{
  width: auto;
  height: 300px;
  margin-left: 20px;
}

.destaque-37{
  position: absolute;
  border: 2px solid #D13239;
  width: 145px;
  height: 15px;
  z-index: 10;
  margin-left: 365px;
  margin-top: 180px;
}

.imagem-tutorial-38{
  width: auto;
  height: 260px;
  margin-left: 20px;
}

.destaque-38{
  position: absolute;
  border: 2px solid #D13239;
  width: 250px;
  height: 40px;
  z-index: 10;
  margin-left: 200px;
  margin-top: 180px;
}

.imagem-tutorial-39{
  width: auto;
  height: 260px;
  margin-left: 20px;
}

.destaque-39{
  position: absolute;
  border: 2px solid #D13239;
  width: 120px;
  height: 15px;
  z-index: 10;
  margin-left: 20px;
  margin-top: 40px;
}

.imagem-tutorial-40{
  width: auto;
  height: 330px;
  margin-left: 20px;
}

.destaque-40{
  position: absolute;
  border: 2px solid #D13239;
  width: 130px;
  height: 20px;
  z-index: 10;
  margin-left: 225px;
  margin-top: 85px;
}

.destaque-2-40{
  position: absolute;
  border: 2px solid #D13239;
  width: 390px;
  height: 185px;
  z-index: 10;
  margin-left: 195px;
  margin-top: 140px;
}

.destaque-3-40{
  position: absolute;
  border: 2px solid #D13239;
  width: 80px;
  height: 15px;
  z-index: 10;
  margin-left: 405px;
  margin-top: 105px;
}

.imagem-tutorial-41{
  width: auto;
  height: 150px;
  margin-left: 180px;
  margin-bottom: 30px;
}

.imagem-tutorial-2-41{
  width: auto;
  height: 150px;
  margin-left: 180px;
  display: flex;
}

.imagem-tutorial-42{
  width: auto;
  height: 270px;
  margin-left: 20px;
}

.destaque-42{
  position: absolute;
  border: 2px solid #D13239;
  width: 50px;
  height: 50px;
  z-index: 10;
  margin-left: 225px;
  margin-top: 60px;
}

.imagem-tutorial-43{
  width: auto;
  height: 270px;
  margin-left: 20px;
}

.destaque-43{
  position: absolute;
  border: 2px solid #D13239;
  width: 50px;
  height: 20px;
  z-index: 10;
  margin-left: 475px;
  margin-top: 255px;
}

.imagem-tutorial-44{
  width: auto;
  height: 270px;
  margin-left: 20px;
}

.imagem-tutorial-45{
  width: auto;
  height: 270px;
  margin-left: 20px;
}

.destaque-45{
  position: absolute;
  border: 2px solid #D13239;
  width: 55px;
  height: 30px;
  z-index: 10;
  margin-left: 265px;
  margin-top: 235px;
}

.imagem-tutorial-46{
  width: auto;
  height: 250px;
  margin-left: 20px;
}

.imagem-tutorial-2-46{
  display: flex;
  position: absolute;
  width: auto;
  height: 140px;
  margin-left: 130px;
  margin-top: -50px;
}

.destaque-46{
  position: absolute;
  border: 2px solid #D13239;
  width: 130px;
  height: 15px;
  z-index: 10;
  margin-left: 20px;
  margin-top: 110px;
}

.destaque-2-46{
  position: absolute;
  border: 2px solid #D13239;
  width: 460px;
  height: 140px;
  z-index: 10;
  margin-left: 130px;
  margin-top: 200px;
}

.destaque-2-46:before{
  content: "";
  position: absolute;
  border: 1px solid #D13239;
  height: 110px;
  margin-left: 360px;
  margin-top: -110px;
}

.imagem-tutorial-47{
  width: auto;
  height: 300px;
  margin-left: 20px;
}

.imagem-tutorial-2-47{
  display: flex;
  position: absolute;
  width: auto;
  height: 70px;
  margin-left: 205px;
  margin-top: -170px;
}

.destaque-47{
  position: absolute;
  border: 2px solid #D13239;
  width: 150px;
  height: 20px;
  z-index: 10;
  margin-left: 20px;
  margin-top: 142px;
}

.imagem-tutorial-48{
  width: auto;
  height: 270px;
  margin-left: 20px;
}

.destaque-48{
  position: absolute;
  border: 2px solid #D13239;
  width: 130px;
  height: 15px;
  z-index: 10;
  margin-left: 20px;
  margin-top: 167px;
}

.imagem-tutorial-49{
  width: auto;
  height: 270px;
  margin-left: 20px;
}

.destaque-49{
  position: absolute;
  border: 2px solid #D13239;
  width: 400px;
  height: 200px;
  z-index: 10;
  margin-left: 20px;
  margin-top: 70px;
}

.imagem-tutorial-50{
  width: auto;
  height: 250px;
  margin-left: 20px;
}

.destaque-50{
  position: absolute;
  border: 2px solid #D13239;
  width: 130px;
  height: 15px;
  z-index: 10;
  margin-left: 20px;
  margin-top: 137px;
}

.imagem-tutorial-51{
  width: auto;
  height: 300px;
  margin-left: 20px;
}

.destaque-51{
  position: absolute;
  border: 2px solid #D13239;
  width: 205px;
  height: 90px;
  z-index: 10;
  margin-left: 197px;
  margin-top: 100px;
}

.imagem-tutorial-52{
  width: auto;
  height: 260px;
  margin-left: 20px;
}

.destaque-52{
  position: absolute;
  border: 2px solid #D13239;
  width: 140px;
  height: 15px;
  z-index: 10;
  margin-left: 20px;
  margin-top: 170px;
}

.imagem-tutorial-54{
  width: auto;
  height: 240px;
  margin-left: 20px;
}

.destaque-54{
  position: absolute;
  border: 2px solid #D13239;
  width: 140px;
  height: 15px;
  z-index: 10;
  margin-left: 20px;
  margin-top: 155px;
}

.destaque-54:before{
  content: "";
  position: absolute;
  border: 2px solid #D13239;
  border-right: transparent;
  height: 245px;
  width: 20px;
  margin-left: -20px;
  margin-top: -238px;
}

.destaque-2-54{
  position: absolute;
  border: 2px solid #D13239;
  width: 250px;
  height: 150px;
  z-index: 10;
  margin-left: 180px;
  margin-top: 75px;
}

.destaque-2-54:before{
  content: "";
  position: absolute;
  border: 2px solid #D13239;
  border-left: transparent;
  border-top: transparent;
  height: 180px;
  width: 50px;
  margin-left: 247px;
  margin-top: -80px;
}

.imagem-tutorial-56{
  width: auto;
  height: 280px;
  margin-left: 20px;
}

.destaque-56{
  position: absolute;
  border: 2px solid #D13239;
  width: 210px;
  height: 30px;
  z-index: 10;
  margin-left: 40px;
  margin-top: 250px;
}

.imagem-tutorial-57{
  width: auto;
  height: 300px;
  margin-left: 20px;
}

.imagem-tutorial-58{
  width: auto;
  height: 290px;
  margin-left: 20px;
}

.imagem-tutorial-59{
  width: auto;
  height: 260px;
  margin-left: 20px;
}